@font-face {
    font-family: 'YeZiGongChangXiaoZhongShanXingKai-2';
    font-display: swap;
    src: url('YeZiGongChangXiaoZhongShanXingKai-2.ttf') format("truetype");
}
@font-face {
    font-family: 'jc';
    font-display: swap;
    src: url('jc.ttf') format("truetype");
}